/* ==========================================================================
   Default theme skin
   ========================================================================== */

// Intentionally left blank
:root {
  --primary: rgb(29, 161, 242);
}

.markdown-body {
  font-size: 14px !important;
  line-height: 1.25 !important;
}

.markdown-body hr {
  height: 1px !important;
}

//https://www.sarasoueidan.com/
body {
  font-family: var(--font-family-sans-serif);
  font-size: calc(14px + .25vw);
  color: #111;
}

.markdown-body {
  font-family: var(--font-family-sans-serif) !important;
  font-size: calc(12px + .25vw) !important;
}

.markdown-body {
  /**
 * Nested numbered list with correct indentation.
 *
 * Tested on Firefox 32, Chromium 37, IE 9 and Android Browser. Doesn't work on IE 7 and previous.
 * Source: https://cssnewbie.com/word-style-outline/#.W5Yv8EYzaM8
 */

  ol {
    list-style: decimal;
    padding: 0;
  }

  ol ol {
    list-style: lower-alpha;
  }

  ol ol ol {
    list-style: lower-roman;
  }

  ol ol ol ol {
    list-style: decimal;
  }

  ol ol,
  ol ol ol ol ol {
    list-style: lower-alpha;
  }

  ul {list-style-type: circle;}
}
