/* ==========================================================================
   Default theme skin
   ========================================================================== */

// Intentionally left blank
:root{
  --primary: rgb(29, 161, 242);
}

.markdown-body {
  font-size:14px !important;
  line-height:1.25 !important;
}

.markdown-body hr {
  height: 1px !important;
}