{% if post.id %}
  {% assign title = post.title | markdownify | strip_html %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<div class="support-grid"></div>

      <div class="band">
        <div class="item-1">
              <a href="https://design.tutsplus.com/articles/international-artist-feature-malaysia--cms-26852" class="card">
                <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg);"></div>
                <article>
                  <h1>International Artist Feature: Malaysia</h1>
                  <span>Mary Winkler</span>
                </article>
              </a>
        </div>
        <div class="item-2">
              <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045" class="card">
                <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
                <article>
                  <h1>How to Conduct Remote Usability Testing</h1>
                  <span>Harry Brignull</span>
                </article>
              </a>
        </div>
        
        <div class="item-7">
          <a href="https://webdesign.tutsplus.com/articles/notes-from-behind-the-firewall-the-state-of-web-design-in-china--cms-22281" class="card">
            <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
            <article>
              <h1>{{title}}</h1>
              <span>Kendra Schaefer</span>
            </article>
          </a>
        </div>
      </div>

