<header class="item header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  {% if site.logo contains '://' %}
  {% assign site_logo = site.logo %}
  {% else %}
  {% assign site_logo = site.logo | relative_url %}
  {% endif %}
  <div class="stats">
    <input type="checkbox" id="check">
    <label class="btn-toggle" for="check">+</label>
    <nav>
      <a href="/" itemprop="url">{% if site.logo %}<img src="{{ site_logo }}" alt="" class="logo">{% endif %}</a>
      <!-- site.pages links -->
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}

      {% for path in page_paths %}
      {% assign my_page = site.pages | where: "path", path | first %}
      {% if my_page.title %}

      <a href="{{ my_page.url | relative_url }}" itemprop="url">
        <span itemprop="name">{{ my_page.title | escape }}</span>
      </a>
      {% endif %}
      {% endfor %}

      {%comment %}
      <a href="#">Tweets<span>509</span></a>

      <button class="btn">Follow</button>
      {%endcomment %}
    </nav>
  </div>
</header>