body {
  background-color: #F5F5F5;
  color: #333;
  font-size: 0.9em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  margin: 0;
}

section h2 {
  margin: 50px 0 0 ! important;
}

h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

.item {
  padding: 0 1rem;
  background: #ffffff;
  margin: 0;
}

.item:nth-child(n+2) {
  min-height: 15vh;
}

.side-1 .pro {
  width: 200px;
  height: 200px;
  border: 4px solid white;
  border-radius: 10px;
  transform: translateY(-30%);
  background: white;
  box-shadow: 0 0 2px #333;
}

.side-1 section {
  transform: translateY(-100px);
}

.side-1 section h2 {
  margin: 0;
}

section p {
  font-size: 0.9em;
}

section .btn {
  width: 100%;
}

.main,
.side-2 {
  margin-top: 15px;
  border: 1px solid rgba(51, 51, 51, 0.09);
  padding: 0;
}

.main h2,
.side-2 h2 {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.09);
}

.main .entry pre {
  overflow-x: auto;
}

.btn {
  display: block;
  border: 0;
  background-color: var(--primary);
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 50px;
}

/****toogle control****/

#check {
  position: absolute;
  opacity: 0;
}


.btn-toggle {
  position: absolute;
  background-color: var(--primary);
  bottom: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.btn-toggle:active {
  opacity: 0.7;
}

#check:checked~nav a:nth-child(n+2) {
  display: block;
}
