/* ==========================================================================
   Entries (Posts, collection documents, etc.)
   ========================================================================== */
.post {
  border-bottom: 1px solid #eee;
  padding: 2rem 20px;
}

.post:hover {
  background: #fff;
  display: block
}

.post .title {
  font-weight: 600;
  margin: 1.1rem 0;
}

.post .title,
.entry {

}

.entry img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post .entry {
  line-height: 1rem;
}

.meta {
    font-size: 0.9rem; 
    color: #666;
}
.meta .source{
    font-weight: 600 !important;
    border: #eee 1px solid;
    padding: 4px 4px;
}