<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
{% include head.html %}

<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} {{ page.title | slugify }}">
  

  <main>
    {% include navigation.html %}


    <aside class="item side-1">
    </aside>

    <div class="item main">
      {% for post in site.posts %}
      {% include entry-post.html %}
      {% endfor %}
    </div>
    <aside class="item side-1">
    </aside>
  </main>

  {% include scripts.html %}

</body>

</html>
